@use "../abstracts/" as *;

.submenu-wrapper {
  .submenu {
    width: $accordionWidth;
    font-size: 18px;
    padding-left: 0.2em;
    &::before {
      content: '+';
      margin-right: 0.2rem;
    }
  }

  .submenu-item {
    width: $accordionWidth;
    padding-left: 1rem;
  }
}
