.navbarContainer {
  border: 1px black solid;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  .childContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      margin: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
