@import '../../abstracts/numbers';

.gridContainer {
  display: grid;
  align-items: center;
  justify-items: center;
}

@each $number in $numbers {
  .grid-col-#{$number} {
    grid-template-columns: repeat($number, 1fr);
  }
  .grid-row-#{$number} {
    grid-template-rows: repeat($number, 1fr);
  }
}
